.Button {
  --Button-padding-x: var(--spacing);
  --Button-padding-y: var(--spacing-sm);
  --Button-background-color: var(--primary);
  --Button-color: var(--color-on-primary);

  display: inline-block;
  padding: var(--Button-padding-y) var(--Button-padding-x);
  background-color: var(--Button-background-color);
  color: var(--Button-color);
  vertical-align: middle;
  text-align: center;
  user-select: none;

  /* Normalize button styles */
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
